---
import Title from "@components/global/Title.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="isolate px-6 py-24 sm:py-32 lg:px-8">
	<div class="absolute inset-x-0 top-[-10rem] transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
		<div class="gradient-element"></div>
	</div>
	<div class="mx-auto">
		<Title class="pb-16 pt-20 uppercase" title={t("contact.title")} />
		<div class="mx-auto max-w-2xl flex-col gap-4">
			<p class="mb-4 font-mono text-xl font-extrabold sm:text-2xl lg:text-4xl"><a href="tel: +48691404038">Telefon: 691 404 037</a></p>
			<p class="font-mono text-xl font-extrabold sm:text-2xl lg:text-4xl">Email: anchimmichal@gmail.com</p>
			<p class="font-mono text-xl font-extrabold sm:text-2xl lg:text-4xl">
				<a href="https://www.instagram.com/anchimmichal_trener/">Insta: anchimmichal_trener</a>
			</p>
		</div>
	</div>
</section>

<style>
	.gradient-element {
		@apply relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#7cadf7] to-[#0e01c2] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem];
		clip-path: polygon(
			74.1% 44.1%,
			100% 61.6%,
			97.5% 26.9%,
			85.5% 0.1%,
			80.7% 2%,
			72.5% 32.5%,
			60.2% 62.4%,
			52.4% 68.1%,
			47.5% 58.3%,
			45.2% 34.5%,
			27.5% 76.7%,
			0.1% 64.9%,
			17.9% 100%,
			27.6% 76.8%,
			76.1% 97.7%,
			74.1% 44.1%
		);
	}

	.form-field {
		@apply block;
	}

	.form-label {
		@apply flex pl-1 text-sm font-semibold leading-6 text-gray-900;
	}

	input,
	textarea {
		@apply pointer-events-auto relative m-0 w-full cursor-text rounded-lg border-0 bg-slate-200 px-5 py-2 text-xl font-normal not-italic outline-none placeholder:text-gray-400 focus:ring-slate-500;
	}
</style>
