---
import Newsletter from "@components/blog/Newsletter.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";
import { Icon } from "astro-icon/components";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="section gap-y-10 py-3 lg:gap-y-32">
	<div class="relative flex-grow"></div>
	<div class="relative grid grid-cols-6 gap-y-20 lg:grid-cols-12 lg:text-xl">
		<div class="col-span-6 col-start-1 grid grid-cols-6 gap-6 lg:col-span-8">
			<div class="col-span-2 col-start-4 flex flex-col gap-2 lg:col-span-3">
				<a href="https://www.facebook.com/profile.php?id=61576179116013" target="_blank">Facebook</a>
				<a href="https://www.instagram.com/anchimmichal_trener/" target="_blank">Instagram</a>
				<a href="mailto: anchimmichal@gmail.com" target="_blank">Email</a>
			</div>
			<div class="col-span-3 row-start-1 lg:col-span-2 lg:col-start-4 lg:row-start-auto">
				<div class="flex flex-col gap-2">
					<a href={translatePath("/")}>Home</a>
					<a href={translatePath("/o-mnie")}>O mnie</a>
					<a href={translatePath("/kontakt/")}>Kontakt</a>
				</div>
			</div>
		</div>
		<div class="col-span-6 row-start-1 text-5xl leading-tight lg:col-span-4 lg:row-start-auto lg:text-6xl">
			<!-- Newsletter Section -->
			<div class="text-[24px]">{t("footer.newsletter")}</div>
			<div class:list={["relative mt-8 h-20 max-w-[30rem] font-display leading-6 lg:max-w-[35rem]"]}>
				<a href="tel:+48691404037">691 404 037</a>
			</div>
		</div>
	</div>
	<div class="relative mt-4 flex w-full items-end justify-between gap-y-4 text-sm lg:text-xl lg:font-normal">
		<div class="border-text-primary border-t">
			<div class="py-3">
				<p class="border-t-1 border-gray-100 text-center text-sm">
					Made with 🧡 by
					<a
						href="https://www.rocketdev.com.pl"
						target="_blank"
						class="inline-block max-w-3xl bg-gradient-to-tr from-orange-700 to-yellow-500 bg-clip-text font-extrabold text-transparent hover:from-orange-800 hover:to-yellow-600">
						RocketDev
					</a>
				</p>
			</div>
		</div>
		<!-- https://codepen.io/fliseno1k/pen/WNboLBy -->
		<button
			id="go-top-button"
			aria-label="Go to Top"
			class="fill-transparent transition-colors duration-300 hover:fill-black hover:text-white"
			data-cursor-hover
			data-cursor-parallax>
			<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
				<g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<circle cx="12" cy="12" r="9"></circle><path d="m15 12l-3-3m0 0l-3 3m3-3v6"></path>
				</g>
			</svg>
		</button>

		<!-- Scroll Up Arrow -->
	</div>
</footer>

<style>
	footer {
		@apply relative flex w-full flex-col;
	}
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	function init() {
		var goTopButton = document.getElementById("go-top-button");

		if (!goTopButton) return;

		goTopButton.addEventListener("click", function () {
			gsap.to(window, { duration: 0.5, scrollTo: 0 });
		});
	}

	document.removeEventListener("DOMContentLoaded", init); // astro:page-load
	document.addEventListener("DOMContentLoaded", init); // astro:page-load
</script>
